
<div class="comment-top">
    <h4>Yorum Yap</h4>
    <div class="comment-bottom">
        <form action="#" method="post">
            <input class="form-control" type="text" name="Name" placeholder="Adınız" required="">
            <input class="form-control" type="email" name="Email" placeholder="Mailiniz" required="">

            <input class="form-control" type="text" name="Subject" placeholder="Konu" required="">

            <textarea class="form-control" name="Message" placeholder="Mesaj..." required=""></textarea>
            <button type="submit" class="btn btn-primary submit">Gönder</button>
        </form>
    </div>
</div>